h1
{
    background-color: lightcoral;
}

.score
{
    font-size: 25px;
    margin-left: 20px;   
}

.timer
{
    font-size: 25px;
    float:right;
    margin-right: 20px;
}

.sketch_to_be_drawn
{
    color: black;
}